<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>添加</title>
<link type="text/css" rel="stylesheet" th:href="@{/css/page.css}" />
<script type="text/javascript" th:src="@{/js/jquery/jquery-3.3.1.js}" ></script>
<!-- validation -->
<script type="text/javascript" th:src="@{/js/jquery/jquery.validate.js}" ></script>
<!-- layer -->
<link type="text/css" rel="stylesheet" th:href="@{/plug/layui/css/layui.css}" />
<script type="text/javascript" th:src="@{/plug/layui/layui.js}"  charset="utf-8"></script>

<link type="text/css" rel="stylesheet" th:href="@{/js/layer/skin/layer.css}"/>
<script type="text/javascript" th:src="@{/js/layer/layer.js}" ></script>

<style type="text/css">

.need_span{
	color: red;
	display: none;
}
.need_0, .validation_span{
	color: red;
}
.need_1{
	color: #666666;
}
.input_0{
	width: 200px;
}
.form_table td{
	padding: 5px;
}
.text_ad_0{
	font-weight: bold;
	color: #444444;
	white-space: nowrap;
}
</style>

<script type="text/javascript"  th:inline="javascript">
layui.use('laydate', function(){
	  var laydate = layui.laydate;

	  //执行一个laydate实例
	  laydate.render({
	    elem: '#appTime' //指定元素
          ,type: 'datetime'
	    ,trigger : 'click'
	  });
});

$(function(){
    $('form').validate({
        debug:true,
        /**//* 设置验证规则 */
        rules: {
            ageMin: {
                required: true
            },
            ageMax: {
                required: true
            },
            tempMin: {
                required: true
            },
            tempMax: {
                required: true
            },
            weightMin: {
                required: true
            },
            weightMax: {
                required: true
            },
            heightMin: {
                required: true
            },
            appetiteMin: {
                required: true
            },
            heightMax: {
                required: true
            },
            appetiteMax: {
                required: true
            },
            type: {
                required: true
            },
            status: {
                required: true
            }
        },
        /**//* 设置错误信息 */
        messages: {
            ageMin: {
                required:"开始年龄不可为空"
            },
            ageMax: {
                required:"结束年龄不可为空"
            },
            tempMin: {
                required:"体温最小值不可为空"
            },
            tempMax: {
                required:"体温最大值不可为空"
            },
            weightMin: {
                required:"体重最小值不可为空"
            },
            weightMax: {
                required:"体重最大值不可为空"
            },
            heightMin: {
                required:"身高最小值不可为空"
            },
            appetiteMin: {
                required:"饭量最小值不可为空"
            },
            heightMax: {
                required:"身高最大值不可为空"
            },
            appetiteMax: {
                required:"饭量最大值不可为空"
            },
            type: {
                required:"宠物类型不可为空"
            },
            status: {
                required:"状态不可为空"
            }
        },
        /**//* 设置验证触发事件 */
        onsubmit:true,
        /**//* 设置错误信息提示DOM */
        errorPlacement: function(error, element) {
            $(element[0]).parent().find(".validation_span").text(error.html()).show();
        },
        success:function(error, element){
            $(element[0]).parent().find(".validation_span").text("");
        },
        submitHandler: function (){
            save();
        }
    });
	
	//返回按钮
	$("#backBtu").click(function(){
		layer.confirm('确认返回吗？', {icon: 3, title:'提示'}, function(index){
		    parent.layer.closeAll();
		});
	});
});

//保存
function save(){
	var param = new Object();
	param.ageMin = $.trim($("#ageMin").val());
	param.ageMax = $.trim($("#ageMax").val());
	param.tempMin = $.trim($("#tempMin").val());
    param.tempMax = $("#tempMax").val();
    param.weightMin = $("#weightMin").val();
    param.weightMax = $("#weightMax").val();
    param.heightMin = $("#heightMin").val();
    param.heightMax = $("#heightMax").val();
    param.appetiteMin = $("#appetiteMin").val();
    param.appetiteMax = $("#appetiteMax").val();
    param.type = $("#type").val();
    param.status = $("#status").val();

	console.log(param);
	var urlStr = "/user/standard/doAdd";
	
	layer.confirm('确认保存吗？', {icon: 3, title:'提示'}, function(index){
		$.ajax({
    		type:"POST",
    		async:true,  //默认true,异步
    		data:param,
    		url:urlStr,
    		success:function(data){
    			console.log(data);
    			if(data == "SUCCESS"){
    				layer.alert('保存成功！', {icon: 1}, function(indexOk){
       					parent.search();
       	    			parent.$("#add_iframe iframe").attr("src", "");
       			    	parent.$("div").first().show();
       			    	parent.$("#add_iframe").hide();
       			    	parent.layer.closeAll();
       				});
    			}else if(data == "LGINOUT"){
    				//重新登录
    				parent.window.location.href = "/logout";    				
    			}else{
    				layer.alert('保存失败！', {icon: 2}, function(indexNo){
    					parent.layer.closeAll();
       				});
    			}
    	    }
    	});
	});
}

</script>
</head>
<body>
<div  style="margin-left:15px; height: 400px;">
<div class="first_div" style="border:none;">
	<div id="adListDiv" align="left" >
	<form>
		<table class="form_table" style="border-collapse: collapse;margin-left:20px;margin-top:10px;">
            <tr>
                <td align="right" >
                    <span class="need_0">*</span>
                    <span class="text_ad_0">开始年龄：</span>
                </td>
                <td>
                    <input id="ageMin" type="text" name="ageMin" class="input_0"/>
                    <span class="validation_span"></span>
                </td>
            </tr>
            <tr>
                <td align="right" >
                    <span class="need_0">*</span>
                    <span class="text_ad_0">结束年龄：</span>
                </td>
                <td>
                    <input id="ageMax" type="text" name="ageMax" class="input_0"/>
                    <span class="validation_span"></span>
                </td>
            </tr>
			<tr>
                <td align="right" >
                    <span class="need_0">*</span>
                    <span class="text_ad_0">体温最小值：</span>
                </td>
                <td>
                    <input id="tempMin" name="tempMin"  class="input_0"/>
                    <span class="validation_span"></span>
                </td>
            </tr>
            <tr>
                <td align="right" >
                    <span class="need_0">*</span>
                    <span class="text_ad_0">体温最大值：</span>
                </td>
                <td>
                    <input id="tempMax" name="tempMax"  class="input_0"/>
                    <span class="validation_span"></span>
                </td>
            </tr>
            <tr>
                <td align="right" >
                    <span class="need_0">*</span>
                    <span class="text_ad_0">体重最小值：</span>
                </td>
                <td>
                    <input id="weightMin" name="weightMin"  class="input_0"/>
                    <span class="validation_span"></span>
                </td>
            </tr>
            <tr>
                <td align="right" >
                    <span class="need_0">*</span>
                    <span class="text_ad_0">体重最大值：</span>
                </td>
                <td>
                    <input id="weightMax" name="weightMax"  class="input_0"/>
                    <span class="validation_span"></span>
                </td>
            </tr>
            <tr>
                <td align="right" >
                    <span class="need_0">*</span>
                    <span class="text_ad_0">身高最小值：</span>
                </td>
                <td>
                    <input id="heightMin" name="heightMin"  class="input_0"/>
                    <span class="validation_span"></span>
                </td>
            </tr>
            <tr>
                <td align="right" >
                    <span class="need_0">*</span>
                    <span class="text_ad_0">身高最大值：</span>
                </td>
                <td>
                    <input id="heightMax" name="heightMax"  class="input_0"/>
                    <span class="validation_span"></span>
                </td>
            </tr>
            <tr>
                <td align="right" >
                    <span class="need_0">*</span>
                    <span class="text_ad_0">饭量最小值：</span>
                </td>
                <td>
                    <input id="appetiteMin" name="appetiteMin"  class="input_0"/>
                    <span class="validation_span"></span>
                </td>
            </tr>
            <tr>
                <td align="right" >
                    <span class="need_0">*</span>
                    <span class="text_ad_0">饭量最大值：</span>
                </td>
                <td>
                    <input id="appetiteMax" name="appetiteMax"  class="input_0"/>
                    <span class="validation_span"></span>
                </td>
            </tr>
            <tr>
                <td align="right" >
                    <span class="need_0">*</span>
                    <span class="text_ad_0">类型：</span>
                </td>
                <td>
                    <select id="type" name="type" class="input_0">
                        <option value="1">猫科</option>
                        <option value="2">犬科</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right" >
                    <span class="need_0">*</span>
                    <span class="text_ad_0">状态：</span>
                </td>
                <td>
                    <select id="status" name="status" class="input_0">
                        <option value="1">正常</option>
                        <option value="2">异常</option>
                        <option value="3">生病</option>
                    </select>
                </td>
            </tr>
			<tr>
				<td colspan="2" align="left" >
					<div style="margin-top:10px;margin-bottom:20px;margin-left:120px;">
						<input type="submit" class="layui-btn" lay-submit="" lay-filter="add" id="saveBtu" name="saveBtu" value="确定" style="" />
						<input type="button" class="layui-btn" lay-submit="" lay-filter="add" id="backBtu" name="backBtu" value="返回" style="margin-left:20px;" />
					</div>
				</td>
			</tr>
		</table>
	</form>
		</div>
	</div>
</div>
</body>
</html>